@media screen and (min-width: 1024px){
  .main-content{
    display: flex;
    max-width: 1680px;
  }
  .main-content__left{
    background: none;
    width: 58%;
  }
  .main-content__right{
    width: 42%;
  }
  .main-content__image-arrow{
    position: relative;
  }
  .main-content__image-arrow:after{
    position: absolute;
    content: "";
    background: #b1b1b1;
    top: -2rem;
    right: 3rem;
    width: 200%;
    height: 90%;
    z-index: -1;
  }
  .main-content__carousel{
    display: none;
  }
  .main-content__thumbnails{
    display: flex;
    //align-items: center;
    //flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2.5rem 0 0;
    //max-width: 750px;
    margin-top: 2rem;
  }
  .main-content__thumbnail{
    display: block;
    cursor: pointer;
    width: 60px;
    flex-basis: 10%;
    box-shadow: 0 0 0 0 #000, 0 0 #f3f2f4;
    transition: box-shadow .3s;
    margin: 0 1em 1.5em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .thumbnail-active{
    box-shadow: #66ff96 0px 0px 0px 5px, #b1b1b1 -13px -13px;
  }
  .main-content__arrows{
    bottom: 0;
    right: 1rem;
  }
  .main-content__image-arrow{
    max-height: calc(81vh - 143px);
    max-width: calc(69vh - 143px);
    text-align: right;
    //right: 0;
  }
}